@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

.hero {
  height: 80vh; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
  gap: 20px;
  margin-bottom: 0.1px; 
}

.heropara{
  font-size: 20px;
  font-family: "Gotu", cursive;
}

.typewriter {
  font-size: 70px;
  color: black;
  font-family: "Gotu", cursive;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  line-height: 1.1;
  flex: 1;
}

.hero-left h2 {
  color: #090909;
  font-size: 30px;
  font-weight: 600;
  font-family: "Gotu", sans-serif;
  margin-bottom: 15px;
}

.hero-right {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 400px;
}

.hero-right img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.hero-latest-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 280px;
  height: 60px;
  border-radius: 15px;
  background: #f4f4f4;
  color: #788270;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: rgb(190, 187, 187) 1px solid;
  transition: 0.3s;
}

.hero-latest-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.hero-latest-btn img {
  max-height: 40%;
}

@media (max-width: 1024px) {
  .hero {
    height: 70vh; /* Further reducing height */
    padding: 4% 8%;
  }
  .hero-right img {
    max-width: 60%;
  }
  .typewriter {
    font-size: 50px;
  }
  .hero-left h2 {
    font-size: 22px;
  }
  .hero-right img {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .hero-left {
    align-items: center;
  }
  .typewriter {
    font-size: 40px;
  }
  .hero-left h2 {
    font-size: 20px;
  }
  .hero-right {
    max-width: 350px;
  }
  .hero-latest-btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .hero-right {
    display: none;
  }
  .hero-left h2 {
    font-size: 18px;
  }
  .typewriter {
    font-size: 30px;
  }
  .hero-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}