.item{
    width: 280px;

}
.item img{
    width: 280px;
}
.item p{
    margin: 6px 0px ;

}
.items-prices{
    display: flex;
    gap:20px
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item :hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.item img{
    max-width: 30%;
}
@media(max-width:1280px){
    .items{
        padding-left: 100px;
        width: 100px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }
}
@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 13px;
    }
    .item img{
        width: 170px;  
    }
    .item-price-old{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .item{
        width: 100px;
        font-size: 12px;
    }
    .item img{
        width: 100px;  
    }
    .item-price-old{
        font-size: 12px;
    }
    .item-price-new{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item{
        width: 80px;
    }
    .item img{
        width: 80px;
    }
}
