@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Monoton&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #ffffff;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.nav-logo p {
  color: #6d4d38;
  font-size: 30px;
  font-weight: 90;
  font-family: "Monoton", sans-serif;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #6d4d38;
  font-size: 20px;
  font-weight: 900;
  font-family: "Gotu", sans-serif;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-image {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #6d4d38;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 11px;
  background-color: #f08080;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}


.nav-login-cart button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background-color: #ffc17b;
  cursor: pointer;
  font-family: "Gotu", sans-serif;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-dropdown {
  height: 25px;
  display: none;
  cursor: pointer;
}

.user-email {
  margin-right: 10px;
  font-weight: 500;
  color: #333;
  font-family: 'Times New Roman', Times;
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }

  .nav-login-cart img {
    width: 30px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    transform: rotate(-90deg);
    transition: 0.5s;
    margin-left: auto;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff9ef;
    padding: 15px 0;
    gap: 20px;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .nav-menu-visible {
    display: flex;
  }

  .nav-login-cart {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 8px 10px;
  }

  .nav-logo {
    transform: scale(0.9);
  }

  .nav-menu {
    top: 55px;
  }

  .nav-login-cart {
    transform: scale(0.9);
  }

  .nav-cart-count {
    width: 16px;
    height: 16px;
    font-size: 10px;
    top: -5px;
    right: -5px;
  }
}
