.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 100px; /* Adjust based on navbar height */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
    align-self: flex-start; /* Align to the left */
    justify-content: flex-start; /* Align to the top */
  }
  
  .breadcrum img {
    width: 10px;
    height: 10px;
  }