
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.popular-item{
    /* border: 1px solid black; */
   
    margin-left: 80px;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    
    /* overflow-x: scroll; */
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    font-family: "Gotu", sans-serif;
    
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}
@media(max-width:1280px){
    .popular{
        height: 70vh;
    }
    .popular h1{
        font-size: 40px;
    }
    .popular hr{
        width: 160px;
        height: 4px;
    }
}
@media(max-width:1024px){
    .popular{
        height: 60vh;
    }
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 120px;
        height: 3px;
    }
}
@media(max-width:800pxx){
    .popular{
        height: 50vh;
        gap: 6px;
    }
    .popular h1{
        font-size: 30px;
    }
    .popular hr{
        width: 120px;
        height: 3px;
    }
}