
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;

}
.popular-item{
    /* border: 1px solid black; */
   
    margin-left: 80px;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    
    /* overflow-x: scroll; */
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    font-family: "Gotu", sans-serif;
    
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;

}
